body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

nav {
    height: 2rem;
    display: flex;
    width: 100dvw;
}

.top-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
}

.top-nav-bar li:last-child {
    margin-left: auto;
}

.top-nav-bar li:nth-child(2) {
    flex: 1;
}

.spacer {
    flex: 0.5;
}

.card {
    width: 13rem;
    height: 15rem;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid black;
}

.hidden {
    display: none;
}

.start-menu {
    text-align: left;
}

.input-box {
    text-align: left;
}

.input-box input {
    width: 2rem;
}

@keyframes indicatorWrongAnimation {
    0% {
        color: red;
    }

    100% {
        color: black;
    }
}

@keyframes indicatorWinAnimation {
    0% {
        color: seagreen;
    }

    100% {
        color: black;
    }
}
.wrong-animation {
    animation: indicatorWrongAnimation 1s ease-in-out;
}

.win-animation {
    animation: indicatorWinAnimation 1s ease-in-out;
}
